<div class='row'>
  <div class='logo'>
    <%= image_tag('birdflight.png', id:'birdflight') %>
    <h1>Rise Up Resource</h1>
  </div>
</div>
<div class="nav-row">
  <nav class="resource-nav">
    <p class="navbar-next">
      <%= link_to 'EMERGENCY', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'FOOD', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'CLOTHING', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'COUNSELING', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'EMPLOYMENT', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'FINANCIAL ASSISTANCE', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'HEALTH', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'LEGAL', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'ADDICTION', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'YOUTH', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'GLBTQI', root_path, :class => 'navbar-link-1' %>  
      <%= link_to 'VETERANS', root_path, :class => 'navbar-link-1' %>
    </p>
  </nav>
</div>
<hr/>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

